
.photo {
    float: left;
    width: 100px;
    height: 100px;
}

.overview {
display: block;

height: 180px;
}
.pic0 {
    float: left;
    width: 150px;
    height: 180px;
}
.userIcon {
float: left;
width: 60px;
height: 60px;
}

.comment {

overflow: hidden;
}

.operation {
float: right;
clear: left;
}