<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Home</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,user-scalable=no"/>
		<link href="home.css" type="text/css" rel="stylesheet" />
	</head>
	
	<body>
		<div class="photo">
			<img src="test.jpg" alt="profile photo">
		</div>
		
		<div class="overview">
			<h2 style="display:inline">系统分析与设计</h2><span class="follow">关注</span>
			<p>地点：东校区公教楼B202</P>
			<p>时间：1~18周</P>
			<p>学分：3</p>
			<p><a>任课教师: pml</a></p>
		</div>
		
		<details class="brief">
			<summary>课程简介<br>Curabitur in massa tristique, laoreet quam in, mattis neque......
			</summary>
		</details>
		
		<div class="relatedCourses">
			相关课程：<a>工作流技术</a>
		</div>
		
		<div>
		<fieldset class="discussions">
			<legend>讨论区</legend>
			<select>
				<option value="sortByTime">按发布时间排序</option>
				<option value="sortByLike">按热度排序</option>
			</select>
			<div class="comment">
				<img class="userIcon" src="test.jpg" alt="profile photo">
				<div class="content"><span>JoJo</span>回复<span>abc</span>:课程作业好多
				</div>
				<div class="operation"><span>2015-06-16</span> <span>回复</span> <span>评论</span></div>
			</div>
			<hr color=#282>
			
		</fieldset>
		</div>
	</body>
</html>